body{
    background-color: darkgrey;
}

#first_page{
    background:url(images/hero_bg.jpg) no-repeat top;
    width: 100%;
    height: 1000px;
    font-family: "PF BeauSans Pro";
	font-size: 20px;
	color: #cdcdcd;
}

#top ul{
	float: right;
}

### TOP ###

#top a{
    color:lightgrey;
}

#top ul li a{
    text-decoration: none;
}

#
#top a:hover{
    color:grey;
}



#top li{
	list-style-type: none;
	float: left;
	display: inline;
    width: 125px;
    margin: 25px;
}



### CORPSE ###

#corpse p{
	color: #adadad;
	margin: 20px 0;
    font-size: 15px;
}

#corpse a{
	color: #ffffff;
	font-size: 25px;
    font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	border:solid 3px #ffffff;
	border-radius: 2px;
    border-style: solid;
	padding: 15px 20px; 
	display: inline-block;
    margin-top: 10px;
}

#corpse a:hover{
  	color: white;
	font-size: 25px;
	text-decoration: none;
	text-transform: uppercase;
	border:solid 2px red;
	border-radius: 2px;
	padding: 15px 20px;
}

#corpse p{
	color: #adadad;
	margin: 20px 0;
    font-size: 15px;
}

#corpse a{
	color: #ffffff;
	font-size: 25px;
    font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	border:solid 3px #ffffff;
	border-radius: 2px;
    border-style: solid;
	padding: 15px 20px; 
	display: inline-block;
    margin-top: 10px;
}

#corpse-content{
float: right;
	width: 30%;
	margin-right: 1%;	
}

#corpse2{
    background-image: url(images/exterior.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    margin-top: -16px;
    height:495px;
    width: 960px;
}

#corpse3{
    float: right;
    background-image: url(images/interior.png);
    background-repeat: no-repeat;
    background-position: top right;
    margin-top: -16px;
    height:880px;
    width: 960px;
}