#firstpage{
    background-image: url(images/hero_bg.jpg);
    background-size: 100%;
}

#menu ul li{
    list-style: none;
    float: right;
    display: inline-block;
    padding-right: 3%;
    padding-left: 3%;
    font-size: 15px;
    text-decoration: none;
}

#menu ul li a{
    color: #adadad;
    text-decoration: none;
}

#menu a:hover{
    color:white;
}

#carroussel ul li{
    list-style: none;
    font-size: 15px;
    text-decoration: none;
}

#carroussel a{
    color: #adadad;
    text-decoration: none;
}

#carroussel a:hover{
    color:white;
}

#carroussel li{
    line-height: 20px;
    font-size: 25px;
}
